body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #BD2D2D;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

h1 {
    margin: 0;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

footer {
    background-color: #BD2D2D;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.center {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

form div {
    margin-bottom: 10px;
}

select, input[type="text"], button {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    background-color: #197c9e;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #197c8a;
}

input[type="text"] {
    width: 120px;
}

@media screen and (max-width: 600px) {
    select, input[type="text"], button {
        width: 100%;
        margin-right: 0;
        margin-bottom: 5px;
    }
}